p.text.title {
    font-size: 16px;
    font-weight: bold;
}

p.text.subtitle {
    font-size: 14px;
    font-weight: bold;
}

p.text.normal {
    font-size: 13px;
}

p.text.small {
    font-size: 10px;
    font-weight: 300;
}

p.text.hint {
    font-size: 12px;
    font-weight: 300;
    color: var(--color-hint);
}